html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#gameviewport {
    width: 70px;
    height: 85px;
    position: relative;
    image-rendering: pixelated;
}

#gamecontainer{
    scale: min(
        calc(100vw / 70),
        calc(100vh / 85)
    );
    transform-origin: center;
}

.screen {
    position: absolute;
    inset: 0;
    display: none;
    z-index: 1;
}

.screen.active {
    display: block;
}

.background {
    position: absolute;
    inset: 0;
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    z-index: 0;
}

body{
    background-color: lightskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animated_background {
    width: 70px;
    height: 85px;

    background-size: cover;
    background-position: center;

    animation: bgCycle 1s steps(1) infinite;
}

@keyframes bgCycle {
  0%   { background-image: url("images/grow_frames/growframe1.png"); }
  25%  { background-image: url("images/grow_frames/growframe2.png"); }
  50%  { background-image: url("images/grow_frames/growframe3.png"); }
  75%  { background-image: url("images/grow_frames/growframe4.png"); }
}

#growImage{
    position: absolute;
    width: 70px;
    height: 85px;
    image-rendering: pixelated;
    z-index: 5;
}

#timingBarImage {
    position: absolute;
    image-rendering: pixelated;
    z-index: 15;
}

#bar {
    position: absolute;
    top: 7px;
    image-rendering: pixelated;
    z-index: 16;
    display: none;
}

#sparkles {
    position: absolute;
    left: 19px;
    top: 48px;
    width: 27px;
    height: 21px;
    image-rendering: pixelated;
    z-index: 17;
    display: none;
}

#startButton {
    width: 34px;             
    height: 13px;
    background-image: url("images/start_button.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;

    position: absolute;
    left: 50%;
    top: 59.25%;
    transform: translate(-50%, -50%);

    image-rendering: pixelated;
    z-index: 10;
}

.main_background{
    background-image: url("images/main_background.png");
}

#flowerpotButton1{
    width: 18px;             
    height: 18px;
    background-image: url("images/flower_pot/flowerpot_1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;

    position: absolute;
    left: 10px;
    top: 15px;

    image-rendering: pixelated;
    z-index: 10;
}
#flowerpotButton2{
    width: 18px;             
    height: 18px;
    background-image: url("images/flower_pot/flowerpot_2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;

    position: absolute;
    left: 40px;
    top: 15px;

    image-rendering: pixelated;
    z-index: 10;
}
#flowerpotButton3{
    width: 18px;             
    height: 18px;
    background-image: url("images/flower_pot/flowerpot_3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;

    position: absolute;
    left: 10px;
    top: 45px;

    image-rendering: pixelated;
    z-index: 10;
}
#flowerpotButton4{
    width: 18px;             
    height: 18px;
    background-image: url("images/flower_pot/flowerpot_4.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;

    position: absolute;
    left: 40px;
    top: 45px;

    image-rendering: pixelated;
    z-index: 10;
}

#potImage{
    position: absolute;
    left: 25px;
    top: 63px;
    image-rendering: pixelated;
    z-index: 10;
}

#flowerImage{
    position: absolute;
    width: 70px;
    height: 85px;
    image-rendering: pixelated;
    z-index: 11;
}

#timingBarImage{
    position: absolute;
    background-image: url("images/timing_bar.png");
    width: 70px;
    height: 85px;
    image-rendering: pixelated;
    z-index: 10;
}

#seedButton1{
    width: 18px;             
    height: 20px;
    background-image: url("images/seed/seed1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;

    position: absolute;
    left: 11px;
    top: 17px;

    image-rendering: pixelated;
    z-index: 10;
}
#seedButton2{
    width: 18px;             
    height: 20px;
    background-image: url("images/seed/seed2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;

    position: absolute;
    left: 40px;
    top: 17px;

    image-rendering: pixelated;
    z-index: 10;
}
#seedButton3{
    width: 18px;             
    height: 20px;
    background-image: url("images/seed/seed3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;

    position: absolute;
    left: 11px;
    top: 45px;

    image-rendering: pixelated;
    z-index: 10;
}
#seedButton4{
    width: 18px;             
    height: 20px;
    background-image: url("images/seed/seed4.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;

    position: absolute;
    left: 40px;
    top: 45px;

    image-rendering: pixelated;
    z-index: 10;
}